//Colores
$black                  :#000000;
$white                  :#FFF;
$color_button           :#2ab7ca;
$color_button-hover     :#77d1dd;
$color_button-focus     :#bababa;
$color_footer_background:#221d23;


// Typography
$font_raleway: 'Raleway';
$font_sans   : 'Open Sans';

$font-weight-regular: 300;
$font-weight-bold   : 800;



// fonts sizes 
$font-size-xxxxx-large: 50px;
$font-size-xxxx-large : 45px;
$font-size-xxx-large  : 40px;
$font-size-xx-large   : 35px;
$font-size-x-large    :30px;
$font-size-large      : 20px;
$font-size-medium     : 16px;
$font-size-small      : 14px;
$font-size-x-small    : 12px;


//default
$font-family-default: $font_sans;
$font-size-default  : $font-size-small;
$font-weight-default: $font-weight-regular;




//breakpoint
$breakpoints: ('sm' : (min-width: 576px),
    'md' : (min-width: 768px),
    'lg' : (min-width: 992px),
    'xl' : (min-width: 1200px),
    'm-sm' : (max-width: 576px),
    'm-md' : (max-width: 768px),
    'm-lg' : (max-width: 992px),
    'm-xl' : (max-width: 1200px)) !default;